{% extends 'microapp/base.html' %}
{% csrf_token %}

{% block title %}Film Numbering - Microfilm Processing{% endblock %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'microapp/css/register/register.css' %}">
    <link rel="stylesheet" href="{% static 'microapp/css/register/progress.css' %}">
    <link rel="stylesheet" href="{% static 'microapp/css/register/filmnumber/filmnumber.css' %}">
{% endblock %}

{% block content %}
    <div class="register-container">
        {% include 'microapp/register/progress.html' %}
        
        <!-- Main Content Area -->
        <div class="workflow-content">
            <!-- Include the Filmnumber component which already has a workflow-step div -->
            {% include 'microapp/register/filmnumber/filmnumber.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'microapp/js/register/progress.js' %}"></script>
    <script src="{% static 'microapp/js/register/filmnumber/filmnumber.js' %}"></script>
    <script src="{% static 'microapp/js/register/register.js' %}"></script>

{% endblock %} 